@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ff0000;
  --color-secondary: #00ff00;
  --color-tertiary: #343738;
  --color-quaternary: #e6e6e6;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-tertiary);
  color: var(--color-quaternary);
  margin: 0;
  padding: 0;
}

footer {
  background-color: var(--color-primary);
  position: fixed;
  bottom: 0;
}

button {
  background-color: var(--color-secondary);
  color: var(--color-quaternary);
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 0.25rem;
}
